{% extends "base.html" %}

{% block breadcrumbs %}
<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/">Home</a>/
        Каталог
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
{% load imagekit %}
{% load static %}
<div class="section">
  <div class="container">
    <h1>Каталог рыбы Fishking</h1>
    <p style="color: gray;">Найдено {{ count }} товаров
    </p>
    <div class="row">
      <!-- Кнопки категорий -->
      <div class="col-3">
        <div class="col category-list">
          {% if categories %}
          {% for category in categories %}
          <a href="/catalog/{{category.slug}}">
            <div class="col">
              {{category.name}}
            </div>
          </a>
          <!-- {% for sub in subcategories %}
                {% if sub.parent == category %}
                  <a class="sub-cat" href="/catalog/{{sub.slug}}">
                    <div class="col">
                      {{sub.name}}
                    </div>
                  </a>
                {% endif %}
              {% endfor %} -->
          {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="col">
        <div class="row">
          <!-- Карточки товаров -->

          {% static 'fish_placeholder.png' as empty_image %}
          {% include "includes/product_list.html" with fishies=fishies empty_image=empty_image %}

        </div>
      </div>


    </div>
  </div>
</div>
{% endblock %}


{% block pagination %}
{% include "includes/pagination/fish_cards.html" with fishies=fishies %}
{% endblock %}