{% extends "base.html" %}

{% block breadcrumbs %}
<div class="breadcrumb" style="background-color: #37AAEB">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/">Home</a>/
                Каталог
            </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block content %}
{% load imagekit %}
{% load static %}



    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Что-то по магазину</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p><img class="img-fluid" src="{% static 'logo.png' %}"></p>
    <p><a href="/">Вернуться на главную</a></p>
    <p><a href="{% url 'catalog' %}">Каталог</a></p>
    <p>Категории:</p>
    <ul>
    {% if categories %}
      {% for category in categories %}
        <li><a href="/catalog/{{category.slug}}">{{category.name}}</a></li>
        {% for sub in subcategories %}
        <ul>
          {% if sub.parent == category %}
            <li><a href="/catalog/{{sub.slug}}">{{sub.name}}</a></li>
          {% endif %}
        </ul>
        {% endfor %}
      {% endfor %}
    {% endif %}
    </ul>
    <p>Поставщики:</p>
    <ul>
      {% if providers %}
        {% for provider in providers %}
          <li><a href="/provider/{{provider.slug}}">{{provider.name}}</a></li>
        {% endfor %}
      {% endif %}
      </ul>
    <p><a href="#">Акции</a></p>
    <p><a href="{% url 'feedback' %}">Оставить отзыв</a></p>
    
  </div>
    </div>

<div class="section">
  <div class="container">
      <div class="row">
      <div class="col-4"><button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">test sidebar</button></div>
          <div class="col-4">
          <div id="carousel-category" class="carousel carousel-dark slide" data-bs-ride="false" data-bs-touch = "true" autoplay>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static '9TRL7gjyc.gif' %}" class="d-block w-100" alt="...">
              <div class="carousel-caption-color $black" >
                <h5>placeholder</h5>
                <p>Не забудь подумать, как сделать первый слайд</p>
              </div>
            </div>
            {% if categories %}
            {% for category in categories %}
            <div class="carousel-item">

              {% if category.image %}
                <a href="/catalog/{{category.slug}}">
                  <img class="img-fluid" src="/{{category.image}}" class="d-block w-100" alt="sample text">
                </a>
              {% else %}
                <a href="/catalog/{{category.slug}}">
                  <img class="img-fluid" src="{% static 'fish_placeholder.png' %}" class="d-block w-100" alt="sample text">
                </a>
              {%  endif %}
              <div class="carousel-caption-color $black">
                <h5>{{ category.name }}</h5>
                <p><a href="/catalog/{{category.slug}}">Посмотреть в каталоге</a></p>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel-category" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel-category" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</div>
  
  <div class="section">
    <div class="container">
      <h4>Товары</h4>
      <div class="row" >
          {% if fishies %}
              {% for fish in fishies %}
                  <div class="col-3">
                    <div class="inner-container">
                          <div class="card">
                              {% if fish.image %}
                                <a href="fish/{{ fish.slug }}" >
                                  <img class="img-fluid" src="/{{fish.image}}" class="card-img-top" alt="sample text">
                                </a>
                              {% else %}
                                <a href="fish/{{ fish.slug }}" >
                                  <img class="img-fluid" src="{% static 'fish_placeholder.png' %}" class="card-img-top" alt="sample text">
                                </a>
                              {%  endif %}
                              <div class="card-body">
                                <h5 class="card-title">{{ fish.name }}</h5>
                                <p class="card-text">Всего за {{ fish.price }} руб.</p>
                                <a href="fish/{{ fish.slug }}" class="btn btn-primary">Подробнее</a>
                                
                              </div>
                            </div>
                      </div>
                  </div>
              {% endfor %}
          {% else %}
              <p>There are no fish in the store. Eat meat</p>
          {% endif %}
      </div>
    </div>
  </div>



{% endblock %}


{% block pagination %}


<div class="pagination">
  <span class="step-links">
      {% if fishies.has_previous %}
          <a href="?page=1">&laquo; В начало</a>
          <a href="?page={{ fishies.previous_page_number }}">Назад</a>
      {% endif %}

      <span class="current">
          Страница {{ fishies.number }} из {{ fishies.paginator.num_pages }}.
      </span>

      {% if fishies.has_next %}
          <a href="?page={{ fishies.next_page_number }}">Дальше</a>
          <a href="?page={{ fishies.paginator.num_pages }}">В конец &raquo;</a>
      {% endif %}
  </span>
</div>
{% endblock %}