{% extends "base.html" %}

{% block breadcrumbs %}

<ul class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col"><a href="/">Home</a>/
        <a href="{% url 'catalog' %}">Каталог</a>/
        {{cat.name}}
      </div> 
    </div>
  </div>
</ul>
 
{% endblock %}

{% block content %}
{% load static %}

<div class="container">
  <h1>Name: {{ cat.name }}</h1>

  {% if cat.image %}
  <div class="col"><img src="/{{ cat.image }}"></div>
  {% else %}
  <div class="col"><img src="{% static 'fish_placeholder.png' %}" alt="sample text"></div>
  {% endif %}

    <h4>Товары из этой категории:</h4>
    <div class="row" >
    {% if fishies %}
    {% for fish in fishies %}
        <div class="col-3">
                <div class="card" style="width: 18rem;">
                    {% if fish.image %}
                      <a href="fish/{{ fish.slug }}" >
                        <img class="img-fluid" src="/{{fish.image}}" class="card-img-top" alt="sample text">
                      </a>
                    {% else %}
                      <a href="fish/{{ fish.slug }}" >
                        <img class="img-fluid" src="{% static 'fish_placeholder.png' %}" class="card-img-top" alt="sample text">
                      </a>
                    {%  endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{ fish.name }}</h5>
                      <p class="card-text">Всего за {{ fish.price }} руб.</p>
                      <a href="fish/{{ fish.slug }}" class="btn btn-primary">Подробнее</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
    {% else %}
        <p>None yet... But you can try another category!</p>
    {% endif %}
</div>
</div>
{% endblock %}