{% extends "base.html" %}

{% block breadcrumbs %}

<ul class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col"><a href="/">Home</a>/
        <a href="{% url 'catalog' %}">Каталог</a>/
        {% if cat.parent %}
        <a href="/catalog/{{cat.parent.slug}}">{{cat.parent.name}}</a>/
        {% endif %}
        {{cat.name}}
      </div>
    </div>
  </div>
</ul>

{% endblock %}

{% block content %}
{% load static %}
<h1 style="margin-bottom: 2rem; text-align:center">{{ cat.name }}</h1>
<div class="section">
  <div class="container">
    <div class="row">
      {% if children %}
      <h3>Подкатегории:</h3>
      {% endif %}
      <div class="col-2 category-list" style="margin-left: 1rem;">

        {% if children %}

        {% for child in children %}
        <a href="/catalog/{{child.slug}}">
          <div class="col">
            {{child}}
          </div>
        </a>
        {% endfor %}
        {% endif %}
      </div>
      <div class="col">
        <div class="col">
          {% if cat.image %}
          <div class="col"><img class="img-fluid" style="padding-left: 10rem;" src="/{{ cat.image }}"></div>
          {% else %}
          <div class="col"><img class="img-fluid" src="{% static 'fish_placeholder.png' %}" alt="sample text"></div>
          {% endif %}
        </div>
        <h4 style="text-align: center;">Товары из этой категории:</h4>
        <div class="row">
          <!-- Карточки товаров -->
          {% static 'fish_placeholder.png' as empty_image %}
          {% include "includes/product_list.html" with fishies=fishies empty_image=empty_image %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block pagination %}
{% include "includes/pagination/fish_cards.html" with fishies=fishies %}
{% endblock %}