{% extends "base.html" %}

{% block breadcrumbs %}

<ul class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col"><a href="/">Home</a>/
        <a href="{% url 'catalog' %}">Каталог</a>/
        {% if cat.parent %}
          <a href="/catalog/{{cat.parent.slug}}">{{cat.parent.name}}</a>/
        {% endif %}
        {{cat.name}}
      </div> 
    </div>
  </div>
</ul>
 
{% endblock %}

{% block content %}
{% load static %}

<div class="container">
  <h1>{{ cat.name }}</h1>
<div class="col-6">
  {% if cat.image %}
  <div class="col"><img class="img-fluid" src="/{{ cat.image }}"></div>
  {% else %}
  <div class="col"><img class="img-fluid" src="{% static 'fish_placeholder.png' %}" alt="sample text"></div>
  {% endif %}
</div>
    <h4>Товары из этой категории:</h4>
    <div class="row" >
    {% if fishies %}
    {% for fish in fishies %}
        <div class="col-3">
                <div class="card" style="width: 18rem;">
                    {% if fish.image %}
                      <a href="/catalog/fish/{{ fish.slug }}" >
                        <img class="img-fluid" src="/{{fish.image}}" alt="sample text">
                      </a>
                    {% else %}
                      <a href="/catalog/fish/{{ fish.slug }}" >
                        <img class="img-fluid" src="{% static 'fish_placeholder.png' %}" alt="sample text">
                      </a>
                    {%  endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{ fish.name }}</h5>
                      <p class="card-text">Всего за {{ fish.price }} руб.</p>
                      <a href="/catalog/fish/{{ fish.slug }}" class="btn btn-primary">Подробнее</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
    {% else %}
        <p>None yet... But you can try another category!</p>
    {% endif %}
</div>
</div>
{% endblock %}

{% block pagination %}


<div class="pagination">
  <span class="step-links">
      {% if fishies.has_previous %}
          <a href="?page=1">&laquo; В начало</a>
          <a href="?page={{ fishies.previous_page_number }}">Назад</a>
      {% endif %}

      <span class="current">
          Страница {{ fishies.number }} из {{ fishies.paginator.num_pages }}.
      </span>

      {% if fishies.has_next %}
          <a href="?page={{ fishies.next_page_number }}">Дальше</a>
          <a href="?page={{ fishies.paginator.num_pages }}">В конец &raquo;</a>
      {% endif %}
  </span>
</div>
{% endblock %}