{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="contailner">
    <div class="container">
        <h1>Контакты</h1>
        <h2 style="color: darkblue;">Центральный офис в Усть-Залупинске</h2>

        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src = "{% static 'skinkea5_1.jpg' %}" alt = "location photo">
            </div>
            <div class="col-6">
                <div>
                    <h3>ОАО Рыблав</h3>
                </div>
                <div>
                    <p>ул. Красивая, д. 26 ТЦ Рыбмир</p>
                </div>
                <div>
                    <div>Время работы:</div>
                    <div>13:00-14:00</div>
                </div>
                <div class="contacts">
                    <div>
                        +7(999)999-99-99
                    </div>
                    <div>
                       fake@mail.com
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 style="color: darkblue;">Наши офисы в других городах</h2>
        {% if locations %}
        {% for location in locations %}
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src = "/{{location.photo}}" alt = "location photo">
            </div>
            <div class="col-4">
                <div>
                    <h5>{{location.city}}</h5>
                    <h3>{{location.title}}</h3>
                </div>
                <div>
                    <p>{{location.adress}}</p>
                </div>
                <div class="contacts">
                    <div>{{location.number}}</div>
                    <div>{{location.email}}</div>
                </div>
            </div>
            <div class="col-4">
                <div class="col">
                    <a href="{{location.id}}"><button type="button" class="btn btn-success">Подробнее</button></a>
                </div>
                <div class="col"><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#fuck-you" >Посмотреть на карте</button></div>
            </div>
        </div>
        <hr>
        {% endfor %}
        {% endif %}
    </div>
</div>
<div class="modal fade" id="fuck-you" tabindex="-1" aria-labelledby="fuck-youLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fuck-youLabel">Пошел ты</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Нет карт, страдай
            </div>
        </div>
    </div>
</div>

{% endblock %}

