{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-10">
      <h1 style="text-align: center;">Ваши отзывы</h1>
      <div class="col" style="text-align: center; margin: 3rem 0 5rem 0;"><a class="btn btn-primary"
          href="{% url 'feedback_new' %}">Оставить свой отзыв о компании</a></div>

      {% if shitfan %}
      {% for shit in shitfan %}
      <div class="row text-box">
        <div class="arrow">
          <div class="outer"></div>
          <div class="inner"></div>
        </div>
        <div class="col-3">
          <h5>{{shit.name}}</h5>
          {{shit.date}}
        </div>
        <div class="col-6">{{shit.body}}</div>
        <div class="col-3">
          {% if shit.image %}
          <img class="img-fluid" src="/{{shit.image}}" alt="sample text">
          {% endif %}
        </div>
      </div>
      <hr>
      {% endfor %}
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}

{% block pagination %}
{% include "includes/pagination/feedback.html" %}
{% endblock %}