{% extends "base.html" %}

{% block breadcrumbs %}

<ul class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/">Home</a>/
        <a href="{% url 'catalog' %}">Каталог</a>/
        {% if fish.category.parent %}
          <a href="/catalog/{{fish.category.parent.slug}}">{{fish.category.parent.name}}</a>/
        {% endif %}
        <a href="/catalog/{{ fish.category.slug }}">{{fish.category.name}}</a>/

        {{fish.name}}
        
      </div> 
    </div>
  </div>
</ul>
 
{% endblock %}

{% block content %}
{% load static %}


<div class="container">
  <h1>{{ fish.name }}</h1>
  <div class="col"><strong>Название:</strong> {{ fish.name }}</div>
  <div class="col"><strong>Категория:</strong><a href="/catalog/{{fish.category.slug}}"> {{ fish.category.name }}</a></div>
  <div class="col"><strong>Цена:</strong> {{ fish.price }} руб.</div>
  <div class="col"><strong>Поставщик:</strong><a href="/provider/{{fish.provider.slug}}"> {{ fish.provider.name }}</a></div>
  {% if fish.image %}
  <div class="col"><img src="/{{ fish.image }}"></div>
  {% else %}
  <div class="col"><img src="{% static 'fish_placeholder.png' %}" alt="sample text"></div>
  {% endif %}
  <div class="col"><strong>Атрибуты:</strong>
    {% for attr in fish.filterinfo_set.all %}
    <div>{{attr.rel_attribute.name}} : {{attr.value}}</div>
    {%endfor %}
  </div>
  {% if shitfan %}
  <div class="col"><strong>Отзывы:</strong>
    {% for shit in shitfan %}
    <div class="col"><strong>{{shit.name}}</strong> {{shit.date}}
      <div class="col">{{shit.body}}
        {% if shit.image %}
        <img src="/{{shit.image}}" alt="sample text"></div>
        {% endif %}</div>
      
    </div>
    {%endfor%}
  {% endif %}
  </div>
</div>



  <div class="container">
    <form class="row g-3">
      <div class="col-auto">
        <label for="inputNumber" class="visually-hidden">Number</label>
        <input type="text" class="form-control" id="inputNumber" placeholder="Ваш номер телефона">
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-primary mb-3">Получить скидку</button>
      </div>
    </form>

  </div>

{% endblock %}