{% extends "base.html" %}

{% block breadcrumbs %}

<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/">Home</a>/
        <a href="{% url 'catalog' %}">Каталог</a>/
        {% if fish.category.parent %}
        <a href="/catalog/{{fish.category.parent.slug}}">{{fish.category.parent.name}}</a>/
        {% endif %}
        <a href="/catalog/{{ fish.category.slug }}">{{fish.category.name}}</a>/

        {{fish.name}}

      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
{% load static %}


<div class="container">
  <div class="row">
    <h1>{{ fish.name }}</h1>
    <div class="col-2 fish-beauty">
      <div class="col"><strong>Характеристики:</strong>
        {% for attr in fish.filterinfo_set.all %}
        <div class="fish-attr">{{attr.rel_attribute.name}} : {{attr.value}}</div>
        {%endfor %}
      </div>
      <hr>
      <div class="col"><strong>Поставщик:</strong><a href="/provider/{{fish.provider.slug}}"> {{ fish.provider.name}}</a></div>
      <div class="col fish-price"><strong>Цена:</strong> {{ fish.price }} руб.</div>
      <div class="col features-list">
        <ul>
          <li> Гарантия качества</li>
          <li> Доставка до двух суток</li>
          <li> Леща в подарок</li>
          <li> Зачем ты это читаешь?</li>
        </ul>
      </div>
    </div>
    <div class="col fish-image">
      {% if fish.image %}
      <img src="/{{ fish.image }}">
      {% else %}
      <img src="{% static 'fish_placeholder.png' %}" alt="sample text">
      {% endif %}

    </div>
  </div>
</div>

<div class="container">
    <div class="col fish_feedback">
      <div class="col" style="text-align: center; margin-bottom: 2rem;">
        <strong>Ваши отзывы</strong>
      </div>
      {% if shitfan %}

      {% for shit in shitfan %}
      <div class="row">
        <div class="col-3">
          <strong>{{shit.name}}</strong>
          <p>{{shit.date}}</p>
          
        </div>
        <div class="col-6">{{shit.body}}</div>
        <div class="col-3">
          {% if shit.image %}
          <img class="img-fluid" src="/{{shit.image}}" alt="sample text">
          {% endif %}
        </div>
      </div>
      <hr>
      {% endfor %}

      {% endif %}

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Feedback">
        Оставить отзыв
      </button>
    </div>
</div>

<!-- Форма для отзывов -->
{% include "includes/forms/feedback_form.html" with form=form %}
{% endblock %}

{% block pagination %}
{% include "includes/pagination/feedback.html" %}
{% endblock %}