{% extends "base.html" %}

{% block content %}

{% load static %}
<figure style="text-align: center;">
    <blockquote class="blockquote">
        <p><i>Кто делал сайты для рыбы, тот в столовой пьёт кофе</i></p>
    </blockquote>
    <figcaption class="blockquote-footer">
        <i>Конфуций, 479 год до н.э.</i>
    </figcaption>
</figure>
<div class="row">
    <div class="col-8">
        <video autoplay muted loop >
            <source src="{% static 'video.mp4' %}">
        </video>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            {% if random_fish %}
                {% for fish in random_fish %}
                    <div class="col-3">
                    <div class="inner-container">
                            <div class="card" style="width: 18rem;">
                                {% if fish.image %}
                                <a href="fish/{{ fish.slug }}" >
                                    <img class="img-fluid" src="/{{fish.image}}" class="card-img-top" alt="sample text">
                                </a>
                                {% else %}
                                <a href="fish/{{ fish.slug }}" >
                                    <img class="img-fluid" src="{% static 'fish_placeholder.png' %}" class="card-img-top" alt="sample text">
                                </a>
                                {%  endif %}
                                <div class="card-body">
                                <h5 class="card-title">{{ fish.name }}</h5>
                                <p class="card-text">Всего за {{ fish.price }} руб.</p>
                                <a href="fish/{{ fish.slug }}" class="btn btn-primary">Подробнее</a>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>There are no fish in the store. Eat meat</p>
            {% endif %}
        </div>
    </div>
  </div>


{% endblock %}