{% extends "base.html" %}

{% block content %}

{% load static %}
<figure style="text-align: center;">
  <blockquote class="blockquote">
    <p><i>Кто делал сайты для рыбы, тот в столовой пьёт кофе</i></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <i>Конфуций, 479 год до н.э.</i>
  </figcaption>
</figure>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div id="carousel-category" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-touch="true">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'fish-logo.jpg' %}" class="d-block w-100" alt="fish-logo">
              <div class="carousel-caption-color $black d-none d-md-block">
                <h6 style="text-align: center;">Качественная рыба к вашей двери</h6>
              </div>
            </div>
            {% if categories %}
            {% for category in categories %}
            <div class="carousel-item">

              {% if category.image %}
              <a href="/catalog/{{category.slug}}">
                <img class="img-fluid" src="/{{category.image}}" alt="sample text">
              </a>
              {% else %}
              <a href="/catalog/{{category.slug}}">
                <img class="img-fluid" src="{% static 'fish_placeholder.png' %}" alt="sample text">
              </a>
              {% endif %}
              <div class="carousel-caption-color $black">
                <h5>{{ category.name }}</h5>
                <p><a href="/catalog/{{category.slug}}">Посмотреть в каталоге</a></p>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel-category" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel-category" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <!-- Карточки товаров -->
      {% static 'fish_placeholder.png' as empty_image %}
      {% include "includes/product_list.html" with fishies=random_fish empty_image=empty_image %}
    </div>
  </div>
</div>


{% endblock %}