{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form method="post">
                {% csrf_token %}
                    {% for field in form.visible_fields %}
                    <div class="div">
                      <div class="col">
                      <div class="col">{{ field.label_tag }}</div>
                      {% if field.errors %}
                      <div class="col">
                          {{ field.errors }}
                      </div>
                      {% endif %}
                      <div class="col">
                      {{ field }}
                      </div>
                      </div>
                    </div>
                    {% endfor %}
                    <div class="col" style="opacity: 50%">*Поля, обязательные для заполнения</div>
                    <div class="col" style="opacity: 30%">Изображения проходят предварительную модерацию</div>
                    <input type="submit" value="Отправить">
              </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

{% endblock %}