{% extends "base.html" %}

{% block breadcrumbs %}

<ul class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col"><a href="/">Home</a>/
        <a href="{% url 'catalog' %}">Каталог</a>/
        {{provider.name}}
      </div>
    </div>
  </div>
</ul>

{% endblock %}

{% block content %}
{% load static %}
<div class="container text-center">
  <h1>{{provider.name}}</h1>

  <h4>Товары от этого поставщика:</h4>
  <div class="row">
    <!-- Карточки товаров -->
    {% static 'fish_placeholder.png' as empty_image %}
    {% include "includes/product_list.html" with fishies=fishies empty_image=empty_image %}
  </div>
</div>
{% endblock %}

{% block pagination %}
{% include "includes/pagination_fish.html" with fishies=fishies %}
{% endblock %}