body {
    color: black;
}


div {
    display: block;
    margin: auto;
    
}


#call-req {
    border: 1px solid #172a7e;
}
#call-req .input-container {
    color: rgb(78, 12, 78);
}

/* не забудь удалить */
@keyframes bouncing{
    0%  { bottom: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5); }
    100% { bottom: 50px; box-shadow: 0 50px 50px rgba(0,0,0,0.1); }
  }
    
p { animation: bouncing 4s linear infinite; }