/* Цветовая схема:
#5680e9    основные кнопки
#84ceeb   хедер
#5ab9ea
#c1c8e4
#8860d0    кнопки перезвона */

/* цвета шапки и подвала */
header, footer {
    background: #84ceeb;
}

/* Ссылки в шапке и подвале */
header a, footer a{
    text-decoration: none;
    color: black;
}
/* Заливка бэграунда */
body {
    background-color: aliceblue;
}
/* Ссылки в хлебокрошках */
.breadcrumb a{
    text-decoration: none;
}
/* Автовыравнивание */
div {
    margin: auto;
}
/* Карточки товаров */
.card {
    background-color: transparent;
    margin-bottom: 1rem;
    text-align: center;
}
/* Выравнивание размера картинок товаров (костыль?) */
.card .img-fluid {
    max-width: 203px;
    max-height: 136px;
}
/* Категории в карточках товаров */
.card-category {
    opacity: 50%;

}
/* Атрибуты */
.attributes {
    opacity: 90%;
    justify-content: space-between;
}
/* Кнопки категорий */
.category-list .col {
    margin-bottom: 0.5rem;
    border: lightgray solid 1px;
    padding: 0.5rem;
    transition: 0.3s;
}
/* Ссылки внутри кнопок категорий */
.category-list a {
    color: inherit;
    text-decoration:none; 
    font-size: larger;
    
}
/* Эффекты для кнопок категорий */
.category-list :hover {
    background: #5ab9ea;
}
/* Блок формы коллбэка */
#call-req, #Feedback {
    border: 1px solid #172a7e;
}
/* Цвет текста в формах */
.input-container {
    color: rgb(78, 12, 78);
}
/* Кнопка Получить КП */
.btn-commers {
    background-color: #8860d0;
    color: white
}
/* Обычные кнопки */
.btn-primary {
    background-color: #5690E9;
}
/* TODO пагинация */
.pagination {
    color: black;
}
/* Бонусы в подробностях рыбы */
.features-list ul {
    margin-top: 4rem;
    opacity: 80%;
    list-style: none;
    padding-left: 0;
}
/* Галочка для списка бонусов */
.features-list ul li:before {
    content: '\2713';
  }






/* Кнопка наверх by De'knees */
.to-top{
    position: fixed;
    right: 10px;
    background: #fff;
    color: #000;
    bottom: 7rem;
    border-radius: 0.25rem;
    border: 1px solid #dbdbdb;
    transition: 0.3s;
}
.to-top a{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 10px;
    text-decoration: none;
}
.to-top:hover{
    background: #84CEEB;
}
.to-top:hover > a{
    
    color: #FFF;
}
