{% extends "mst/base.html" %}

{% block content %}
<div class="section swiper_section">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/catalog/templates/MST/pics/5plus_gallery10.jpg" alt="">
                <div class="swiper_text">
                    <div class="swiper_text_main">
                        Дорожно-строительная спецтехника MST
                        <div>
                            От официального дилера
                        </div>
                    </div>
                    <div class="swiper_text_sec">
                        <div>
                            Производство Турция
                        </div>
                        <div>
                            |
                        </div>
                        <div>
                            Гарантия 5 лет
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"><img src="/catalog/templates/MST/pics/gray_MST.png" alt="">
                <div class="swiper_text">
                    <div class="swiper_text_main">
                        Дорожно-строительная спецтехника MST
                        <div>
                            От официального дилера
                        </div>
                    </div>
                    <div class="swiper_text_sec">
                        <div>
                            Производство Турция
                        </div>
                        <div>
                            |
                        </div>
                        <div>
                            Гарантия 5 лет
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"><img src="/catalog/templates/MST/pics/urun_detail_5plus.png" alt="">
                <div class="swiper_text">
                    <div class="swiper_text_main">
                        Дорожно-строительная спецтехника MST
                        <div>
                            От официального дилера
                        </div>
                    </div>
                    <div class="swiper_text_sec">
                        <div>
                            Производство Турция
                        </div>
                        <div>
                            |
                        </div>
                        <div>
                            Гарантия 5 лет
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="64px" height="64px" viewBox="0 0 64 64"><title/><g data-name="Warehouse 1" id="Warehouse_1"><path d="M60,59H58V30s0-.08,0-.11a1.18,1.18,0,0,0,0-.2,1,1,0,0,0-.08-.18l-.11-.15a.67.67,0,0,0-.15-.14s-.05-.06-.09-.08l-25-15a1,1,0,0,0-1,0l-25,15s-.06.06-.09.08a.67.67,0,0,0-.15.14.91.91,0,0,0-.11.16.67.67,0,0,0-.08.17,1.18,1.18,0,0,0,0,.2S6,30,6,30V59H4a1,1,0,0,0,0,2H60a1,1,0,0,0,0-2ZM19,59H13V49h6Zm32,0H27V39H51Zm5,0H53V38a1,1,0,0,0-1-1H26a1,1,0,0,0-1,1V59H21V48a1,1,0,0,0-1-1H12a1,1,0,0,0-1,1V59H8V30.57l24-14.4,24,14.4Z"/><path d="M37,35h4a1,1,0,0,0,0-2H37a1,1,0,0,0,0,2Z"/><path d="M32,45H46a1,1,0,0,0,0-2H32a1,1,0,0,0,0,2Z"/><path d="M32,50H46a1,1,0,0,0,0-2H32a1,1,0,0,0,0,2Z"/><path d="M32,55H46a1,1,0,0,0,0-2H32a1,1,0,0,0,0,2Z"/><path d="M18,43H14a1,1,0,0,0,0,2h4a1,1,0,0,0,0-2Z"/></g></svg></div>
                        <div>Техника и запчасти в наличии</div>
                    </div>


                </div>
                <div class="col">
                    <div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="64px" height="64px" viewBox="0 0 64 64"><title/><g data-name="Warehouse 1" id="Warehouse_1"><path d="M60,59H58V30s0-.08,0-.11a1.18,1.18,0,0,0,0-.2,1,1,0,0,0-.08-.18l-.11-.15a.67.67,0,0,0-.15-.14s-.05-.06-.09-.08l-25-15a1,1,0,0,0-1,0l-25,15s-.06.06-.09.08a.67.67,0,0,0-.15.14.91.91,0,0,0-.11.16.67.67,0,0,0-.08.17,1.18,1.18,0,0,0,0,.2S6,30,6,30V59H4a1,1,0,0,0,0,2H60a1,1,0,0,0,0-2ZM19,59H13V49h6Zm32,0H27V39H51Zm5,0H53V38a1,1,0,0,0-1-1H26a1,1,0,0,0-1,1V59H21V48a1,1,0,0,0-1-1H12a1,1,0,0,0-1,1V59H8V30.57l24-14.4,24,14.4Z"/><path d="M37,35h4a1,1,0,0,0,0-2H37a1,1,0,0,0,0,2Z"/><path d="M32,45H46a1,1,0,0,0,0-2H32a1,1,0,0,0,0,2Z"/><path d="M32,50H46a1,1,0,0,0,0-2H32a1,1,0,0,0,0,2Z"/><path d="M32,55H46a1,1,0,0,0,0-2H32a1,1,0,0,0,0,2Z"/><path d="M18,43H14a1,1,0,0,0,0,2h4a1,1,0,0,0,0-2Z"/></g></svg></div>
                        <div>Техника и запчасти в наличии</div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="64px" height="64px" viewBox="0 0 64 64"><title/><g data-name="Warehouse 1" id="Warehouse_1"><path d="M60,59H58V30s0-.08,0-.11a1.18,1.18,0,0,0,0-.2,1,1,0,0,0-.08-.18l-.11-.15a.67.67,0,0,0-.15-.14s-.05-.06-.09-.08l-25-15a1,1,0,0,0-1,0l-25,15s-.06.06-.09.08a.67.67,0,0,0-.15.14.91.91,0,0,0-.11.16.67.67,0,0,0-.08.17,1.18,1.18,0,0,0,0,.2S6,30,6,30V59H4a1,1,0,0,0,0,2H60a1,1,0,0,0,0-2ZM19,59H13V49h6Zm32,0H27V39H51Zm5,0H53V38a1,1,0,0,0-1-1H26a1,1,0,0,0-1,1V59H21V48a1,1,0,0,0-1-1H12a1,1,0,0,0-1,1V59H8V30.57l24-14.4,24,14.4Z"/><path d="M37,35h4a1,1,0,0,0,0-2H37a1,1,0,0,0,0,2Z"/><path d="M32,45H46a1,1,0,0,0,0-2H32a1,1,0,0,0,0,2Z"/><path d="M32,50H46a1,1,0,0,0,0-2H32a1,1,0,0,0,0,2Z"/><path d="M32,55H46a1,1,0,0,0,0-2H32a1,1,0,0,0,0,2Z"/><path d="M18,43H14a1,1,0,0,0,0,2h4a1,1,0,0,0,0-2Z"/></g></svg></div>
                        <div>Техника и запчасти в наличии</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section popular">
    <div class="pop_title" style="text-align: center; ">
        <h1 style="display: inline;">Популярные модели</h1>
        <a style="display: inline; text-decoration: none; color: #ffaa1c;" href="#">ПЕРЕЙТИ В КАТАЛОГ</a>
        <div class="container product_container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <a href="#">
                        <div class="card">

                            <div class="card_title">
                                <div>
                                    Экскаватор-погрузчик
                                </div>

                                <div>
                                    MST MS44 S
                                </div>
                            </div>

                            <img class="img-fluid" src="/catalog/templates/MST/pics/urun_detail_5plus.png">
                            <div class="card_attr">
                                <div>
                                    <span>Lorem</span>
                                    <span>ipsum</span>
                                </div>
                                <div>
                                    <span>dolor</span>
                                    <span>sit amet</span>
                                </div>
                                <div>
                                    <span>consectetur</span>
                                    <span>adipiscing</span>
                                </div>
                            </div>

                            <div class="card_price">
                                <span>1 000 000р</span>
                                <span class="card_price_before">9 999 999р</span>
                            </div>
                            <div class="sale_badge">АКЦИЯ</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <a href="#">
                        <div class="card">
                            <div class="card_title">
                                <div>
                                    Экскаватор-погрузчик
                                </div>

                                <div>
                                    MST MS44 S
                                </div>
                            </div>
                            <img class="img-fluid" src="/catalog/templates/MST/pics/urun_detail_5plus.png">
                            <div class="card_attr">
                                <div>
                                    <span>Lorem</span>
                                    <span>ipsum</span>
                                </div>
                                <div>
                                    <span>dolor</span>
                                    <span>sit amet</span>
                                </div>
                                <div>
                                    <span>consectetur</span>
                                    <span>adipiscing</span>
                                </div>
                            </div>

                            <div class="card_price">
                                <span>Уточнить стоимость</span>
                                <span class="card_price_before"></span>
                            </div>
                            <div class="sale_badge" style="visibility: hidden;">АКЦИЯ</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <a href="#">
                        <div class="card">
                            <div class="card_title">
                                <div>
                                    Экскаватор-погрузчик
                                </div>

                                <div>
                                    MST MS44 S
                                </div>
                            </div>
                            <img class="img-fluid" src="/catalog/templates/MST/pics/urun_detail_5plus.png">
                            <div class="card_attr">
                                <div>
                                    <span>Lorem</span>
                                    <span>ipsum</span>
                                </div>
                                <div>
                                    <span>dolor</span>
                                    <span>sit amet</span>
                                </div>
                                <div>
                                    <span>consectetur</span>
                                    <span>adipiscing</span>
                                </div>
                            </div>

                            <div class="card_price">
                                <span style="text-align: center;">100 000 000р</span>
                                <span class="card_price_before"></span>
                            </div>
                            <div class="sale_badge" style="visibility: hidden;">АКЦИЯ</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <a href="#">
                        <div class="card">
                            <div class="card_title">
                                <div>
                                    Экскаватор-погрузчик
                                </div>

                                <div>
                                    MST MS44 S
                                </div>
                            </div>
                            <img class="img-fluid" src="/catalog/templates/MST/pics/urun_detail_5plus.png">
                            <div class="card_attr">
                                <div>
                                    <span>Lorem</span>
                                    <span>ipsum</span>
                                </div>
                                <div>
                                    <span>dolor</span>
                                    <span>sit amet</span>
                                </div>
                                <div>
                                    <span>consectetur</span>
                                    <span>adipiscing</span>
                                </div>
                            </div>
                            <div class="card_price">
                                <span style="text-align: center;">999 999 999р</span>
                                <span class="card_price_before"></span>
                            </div>
                            <div class="sale_badge" style="visibility: hidden;">АКЦИЯ</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container callback">
    <form>
        <input type="text" name="name" placeholder="    Имя" id="name_cards">
        <label for="name_cards">Имя</label>
        <input type="tel" name="phone" placeholder="    Телефон" id="phone_cards">
        <label for="phone_cards">Номер телефона</label>
        <input type="submit" id="call_send_cards" name="send" value="Получить коммерческое предложение">
        <label for="call_send_cards">Получить КП</label>
    </form>
</div>

<div class="section features">
    <div class="container cat_features">
        <div class="col-5">
            <img class="img-fluid" src="https://www.mst-tr.com/assets/images/logo.png" alt="MST_logo"
                style="filter: invert(1);">

            <ul class="cat_list">
                <li><a href="#">ЭКСКАВАТОРЫ</a></li>
                <li><a href="#">ЭКСКАВАТОРЫ-ПОГРУЗЧИКИ</a></li>
                <li><a href="#">ТЕЛЕСКОПИЧЕСКИЕ ПОГРУЗЧИКИ</a></li>
            </ul>
            <div class="cat_text">
                <p>Надежные и производительные экскаваторы-погрузчики, экскаваторы и телескопические погрузчики
                    MST,
                    которые давно зарекомендовали себя у российского потребителя.</p>
                <p>Купить, взять в кредит или в лизинг спецтехнику MST вы можете в нашей компании, на выгодных для
                    себя
                    условиях. Предусмотрена реализация новых машин и оборудования с наработкой. Возможна доставка в
                    любые регионы России.</p>
            </div>
        </div>
        <div class="cat_image">
            <img src="/catalog/templates/MST/pics/urun_detail_5plus.png">
        </div>
    </div>
</div>
<div class="section p_features">
    <div class="container prod_features">
        <div class="row">
            <div class="col-7">
                <h1>Преимущества техники</h1>
            </div>
            <div class="col-5">
                <ul>
                    <li>Безукоризненное качество сварных швов и окраски, процесс сварки на заводе полностью
                        автоматизирован. Сварку проводят роботы, способные обрабатывать данные в режиме 3D</li>
                    <li>Экскаваторы-погрузчики укомплектованы полностью автоматической коробкой передач Cararro
                        (Италия)
                        с подрулевым управлением</li>
                    <li>Мощный турбированный двигатель Perkins (100 л.с. Великобритания) выдаёт 413HM крутящего
                        момента
                        при 1350 об./мин. </li>
                    <li>На управление рабочими органами применено гидро-распределительное оборудование знаменитого
                        итальянского концерна Casappa</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container callback_misc">
    <a href="#" class="misc_call"><span class="misc_phone">8 (800) 775-45-18</span><span> Отдел сервиса и
            ремонта</span></a>
    <a href="#" class="misc_call"><span class="misc_phone">8 (800) 775-45-18</span><span> Отдел запасных
            частей</span></a>
</div>

<div class="section callback_form">
    <div class="container ">
        <div class="row">
            <div class="col-6">
                <div class="callback_form_orange">
                    <h1 style="font-size: 3.5rem;">ПОКУПКА ТЕХНИКИ</h1>
                    <span style="font-size: 3.5rem;">В ЛИЗИНГ</span>
                    <h2>НА УНИКАЛЬНЫХ УСЛОВИЯХ</h2>
                </div>
                <div class="callback_form_white">
                    <ul>
                        <li>Мы сотрудничаем с крупнейшими лизинговыми компаниями на специальных условиях</li>
                        <li>Сотрудничая с нами, Вы получаете возможность приобрести технику в лизинг на специальных
                            условиях</li>
                        <li>Наши сотрудники подберут для Вас наиболее подходящие лизинговые программы с комфортными
                            платежами</li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <form class="callback_form_form">
                        <input type="text" id="name_final" name="name" placeholder="  Имя">
                        <label for="name_final">Имя</label>
                        <input type="number" id="inn" name="inn_final" placeholder="  ИНН">
                        <label for="inn_final">ИНН</label>
                        <input type="org" id="org_name_final" name="org" placeholder="  Название организации">
                        <label for="org_name_final">Название организации</label>
                        <input type="email" id="mail" name="mail_final" placeholder="  e-mail">
                        <label for="mail_final">e-mail</label>
                        <input type="tel" id="phone_final" name="phone_final" placeholder="  Телефон">
                        <label for="phone_final">Телефон</label>
                        <input type="submit" id="send_final" name="send" value="Заявка на расчёт">
                        <label for="send_final">Отправить заявку</label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}