@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Marck+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Neucha&display=swap');



body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

header {
    background-color: #000000;
    color: white;
    padding: 1rem 0 1rem 0;
}

label {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
p,
dl,
ol,
ul {
    margin-bottom: 0;
}

header .container .row {
    display: flex;
    padding-bottom: 1rem;
    border-bottom: #ffaa1c solid 3px;
    align-items: center;
}

.header_text {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    justify-content: space-between;
    margin-bottom: 0;
    position: static;
}

.header_text li a {
    text-decoration: none;
    color: white;
}

.header_phone {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.logo_text {
    font-size: smaller;
}

.swiper_section {
    background-color: #000000;
    color: white;
    position: relative;
    box-shadow: 0px 62px 14px -54px rgba(23, 40, 52, 0.2);
}

.swiper {
    height: 1000px;
}

.swiper-slide img {
    position: center;
    height: 100%;
    /* width: 100%; */
    /* спорная херня */
}

.swiper_text {
    display: flex;
    flex-direction: column;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 18rem;
    width: 50%;
}

.swiper_text_main {
    color: #ffaa1c;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
}

.swiper_text_main div {
    font-size: 2rem;
    font-weight: 400;
}

.swiper_text_sec {
    margin-top: 2rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: end;
}

.swiper_text_sec div {
    padding-left: 4rem;
}

.info_text {
    background-color: #313e4f;
    padding: 2rem 18rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info_text div {
    width: max-content;
    padding: 1rem;
}

.popular {
    background-color: #dcdcdc;
    box-shadow: 0px 18px 11px -9px rgba(23, 40, 52, 0.2);
}

.pop_title {
    padding-top: 2rem;
}

/* .product_container {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */

.product_container a {
    text-decoration: none;
    color: black;
}

.card {
    padding: 1rem;
    box-shadow: 0px 16px 18px 0px rgba(34, 60, 80, 0.2);
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
}

.card_title {
    font-weight: 600;
}

.card_attr {
    color: gray;
    border-top: gray solid 1px;
    border-bottom: gray solid 1px;
    margin-top: 2rem;
    padding: 1rem 0;
}

.card_attr div {
    display: flex;
    justify-content: space-between;
}

.card_attr div span {
    flex-basis: 60%;
}

.card_price {
    color: #ffaa1c;
    padding-top: 1rem;
    display: inline-flex;
    justify-content: center;
    font-size: 1.5rem;
}

.card_price_before {
    color: #000000;
    text-decoration: line-through;
    font-size: 0.9rem;
    font-weight: 600;
}

.sale_badge {
    color: #ffffff;
    width: 6rem;
    font-size: 1.2rem;
    background-color: #ffaa1c;
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.callback form {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.callback form input {
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 8px 4px rgba(34, 60, 80, 0.2);
    font-weight: 500;
    border: rgb(165, 161, 161) solid 1px;
}

#call_send_cards {
    color: black;
    background-color: #ffaa1c;
    width: 50%;
    height: 2.5rem;
}

.features {
    background-color: #000000;
    position: relative;
    overflow: hidden;
}

.cat_features {
    position: relative;
    color: white;
    display: flex;
    padding: 4rem 1rem 2rem 0;
}

.cat_list {
    color: #ffaa1c;
    font-size: 1.6rem;
    padding-left: 0;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-style: italic;
    font-weight: 500
}

.cat_list li {
    list-style-type: none;
}

.cat_list li a {
    color: #ffaa1c;
}

.cat_text {
    padding-left: 0;
}

.cat_text p {
    padding-top: 2rem;
}

.cat_image {
    position: relative;
    right: 3rem;
}

.p_features {
    background-image: url('pics/gray_MST.png');
    background-color: #d2d2d2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1200px;
}

.prod_features {
    color: black;
}

.prod_features h1 {
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 2rem;
    text-align: right;
}

.prod_features ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.prod_features ul li {
    border-left: #ffaa1c solid 5px;
    list-style-type: none;
    margin: 1rem 0;
    padding: 1rem;
    line-height: 1.1rem;
    font-weight: 600;
    background-color: #ffffff;
}

.callback_misc {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.callback_misc a {
    text-decoration: none;
    box-shadow: 1px 4px 8px 7px rgba(34, 60, 80, 0.2);
}

.callback_misc a:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: #ffaa1c;
}

.misc_call {
    color: white;
    background-color: #313e4f;
    padding: 0.5rem 3rem;
    border-radius: 10px;
    font-size: 1.5rem;
}

.misc_phone {
    padding: 0 1rem;
}

.callback_form {
    background:
        linear-gradient(90deg, white 0%, rgba(0, 0, 0, 0.6) 0%),
        url(pics/mst_f.jpg);
    background-color: #313e4f;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    position: relative;
    box-shadow: 0px -14px 8px 0px rgba(34, 60, 80, 0.2);
}

.callback_form_orange {
    color: #ffaa1c;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.callback_form_white {
    color: white;
    width: 60%;
    text-align: left;
    font-size: 1.2rem;
}

.callback_form_white ul {
    list-style-type: none;
    padding-left: 0;
}

.callback_form_white ul li {
    padding-bottom: 1rem;
}

.callback_form_form {
    padding-top: 6rem;
    margin: 0 9rem;
    display: flex;
    flex-direction: column;
}

.callback_form_form input {
    margin-bottom: 2rem;
    padding: 2rem 0.5rem;
    height: 3rem;
    border-radius: 10px;
}

#send_final {
    background-color: #ffaa1c;
    text-align: center;
    font-size: 1.6rem;
    padding: 0;
    font-weight: 600;
}

footer {
    background-color: #ffaa1c;
    color: black;
    padding-top: 2rem;
}

.footer_text {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}

.footer_text li {
    list-style-type: none;
}

.footer_text a {
    text-decoration: none;
    color: #000000;
}

.footer_callback button {
    margin-top: 1rem;
    padding: 0 1rem;
    border-radius: 0.25rem;
    background-color: black;
    color: white;
}

.footer_rights {
    margin-top: 2rem;
    font-size: 0.75rem;
}