{% extends "base_generic.html" %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li>product_list</li>
{% endblock %}

{% block content %}
    <h1>Product List</h1>

    {% if product_list %}
    <ul>

      {% for product in product_list %}
      <li>
        <a href="{{ Product.get_absolute_url }}">{{ product.name }}</a> ({{product.location}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no fish in the store.</p>
    {% endif %}
{% endblock %}