<div class="modal fade" id="Callback" tabindex="-1" aria-labelledby="CallbackLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CallbackLabel">Получить КП</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          {% csrf_token %}
          {% for field in form.visible_fields %}
          <div class="input-container">
            <div class="col">
              <div class="col">{{ field.label_tag }}</div>
              {% if field.errors %}
              <div class="col">
                {{ field.errors }}
              </div>
              {% endif %}
              <div class="col">
                {{ field }}
              </div>
            </div>
          </div>

          {% endfor %}
          <div class="col" style="opacity: 50%">*Поля, обязательные для заполнения</div>
          <input type="submit" value="Отправить">
        </form>
      </div>

    </div>
  </div>
</div>